/*
vars
*/

$black: #111111;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;

/*
fonts

regular 400
regular 400 italics
bold 700
bold 700 italics

*/

/*
mixins
*/
@mixin translateY($e){
    -webkit-transform:translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin transition($e){
    -webkit-transition:$e;
    -moz-transition: $e;
    transition: $e;
}

body{
    font-family: 'Poppins', ;
    font-size: 1rem;
    color: $black;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: darkgray ;
    // @include transition(.4s ease-in-out);
    cursor: pointer;
    color: $white;
    transition: .7s;
    &:hover{
        color: $red;
        transition: .4s;
        // @include transition(.4s ease-in-out);
    }
}



.container-fluid{
    line-height: 24px;
}

/*
mix-ins
*/

     
