/*
vars
*/

$black: #111111;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;
$opcaity: rgba(0,0,0,0.5);

/*
fonts

regular 400
regular 400 italics
bold 700
bold 700 italics

*/

/*
mixins
*/
@mixin translateY($e){
    -webkit-transform:translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin transition($e){
    -webkit-transition:$e;
    -moz-transition: $e;
    transition: $e;
}


.container-fluid{
    line-height: 24px;
    padding: 3rem;
}

/*
mix-ins
*/

     
